$primary-text-color: #989CAC;
$text-color: #26272C;
$white-color: #ffffff;
$black-color: #000000;
$main-color: #FF455B;
$container-color: #0D0F16;
// $primary-text-color: #907e82;
// $text-decoration-color: #ffa5ba;
// $icon-color: #fea5bb;
// $button-color: #d41342;