<section class="container">
  <div>
    <img src="../images/home/polygon.png" />
    <h3>BE IN TOUCH</h3>
    <h2>
      Pariatur voluptate occaecat nostrud est exercitation. Culpa culpa laboris
      excepteur officia ullamco sunt nisi velit culpa.
    </h2>
  </div>
  <form action="" method="post">
    <input type="text" id="имя" name="имя" required />
    <input type="email" id="email" name="email" required />
    <input type="phone" id="phone" name="phone" />
    <input type="comment" id="comment" name="comment" />
    <button type="submit">Submit</button>
  </form>
</section>
