<section>
    <div>
        <p>contact us</p>
        <p>contact us</p>
      </div>
      <nav class="map-nav">
        <ul class="map-list">
          <li class="map-item">Home</li>
          <li class="map-item">Contact us</li>
        </ul>
      </nav>
      <ul>
        <li>
            <img src="/src/images/contact_us/icon-1.png" alt="icon" width="125px" />
            <p>
                Hit us up:
            </p>
            <p>+1 344 789 07 68 info@sitename.com</p>
        </li>
        <li>
            <img src="/src/images/contact_us/icon-2.png" alt="icon" width="125px" />
            <p>
                Address:            </p>
            <p>27 Division St, New York, NY 10002, USA</p>
        </li>
      </ul>
      <img src="/src/images/contact_us/map.png" alt="map" width="640x" />

</section>