<section class="container">
  <div>
    <img class="polygon" src="../images/home/polygon.png" />
    <h3>why us</h3>
    <h2>Why People Choose Us</h2>
    <p>We appreciate every client and ready to help with all the issues that they have.</p>
<ul>
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
      <path
        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
      />
    </svg>
    <p>The approach to each new project is individual, we treat equally every customer.</p>
  </li>
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
      <path
        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
      />
    </svg>
    <p>Our web design company specializes in the professional creation of unique sites and mobile applications.</p>
  </li>
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
      <path
        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
      />
    </svg>
    <p>The approach to each new project is individual, we treat equally every customer.</p>
  </li>
</ul>>
  </div>
  <div>
    <ul>
      <li>
        <img
          src="/src/images/about_us/icon block-1.png"
          alt="icon"
          width="125px"
        />
        <h4>Huge Experience</h4>
      </li>
      <li>
        <img
          src="/src/images/about_us//icon block-2.png"
          alt="icon"
          width="125px"
        />
        <h4>Clean Strategy</h4>
      </li>
      <li>
        <img
          src="/src/images/about_us/icon block-3.png"
          alt="icon"
          width="125px"
        />
        <h4>Modern Approach</h4>
      </li>
      <li>
        <img
          src="/src/images/about_us/icon block-4.png"
          alt="icon"
          width="125px"
        />
        <h4>Strong Team</h4>
      </li>
    </ul>
  </div>
</section>
