<section>
  <div>
    <h2>How our process is going</h2>
    <p>
      We start from structuring information architecture and mapping out
      functionalities.
    </p>
  </div>
  <div>
    <ul>
      <li>
        <img
          src="../images/service_detail/icon-1.png"
          alt="icon"
          width="204px"
        />
        <p>Research</p>
      </li>
      <li>
        <img
          src="../images/service_detail/icon-2.png"
          alt="icon"
          width="204px"
        />
        <p>Design</p>
      </li>
      <li>
        <img
          src="../images/service_detail/icon-3.png"
          alt="icon"
          width="204px"
        />
        <p>Development</p>
      </li>
      <li>
        <img
          src="../images/service_detail/icon-4.png"
          alt="icon"
          width="204px"
        />
        <p>Testing</p>
      </li>
      <li>
        <img
          src="../images/service_detail/icon-5.png"
          alt="icon"
          width="204px"
        />
        <p>Launch</p>
      </li>
    </ul>
  </div>
</section>
