.digital__container {
  position: relative;
}

.digital__polygon {
  margin-top: 11.5rem;
}

.digital__text-title {
  color: #26272c;
}

.digital__img {
  // display: flex;
  margin-left: 1.25rem;
}

.digital__img-one {
  margin-right: 1.25rem;
}

.digital__img-one:last-child {
  margin-right: 0;
}

.digital__text-first {
  color: #0D0F16;
  font-family: Raleway;
  font-size: 14.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.15;
  transform: rotate(-90deg);
    position: absolute;
  top: 0;
  left: 50%;
}

.digital__text-second {
  color: #0D0F16;
  font-family: Raleway;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  transform: rotate(-90deg);
    position: absolute;
  top: 30.06rem;
  left: 50%;
}
