.digital__container {
  position: relative;
}

.digital__polygon {
  margin-top: 11.5rem;
  margin-left: 15.74rem;
}

.digital__text-title {
  color: $text-color;
  margin-left: 15.74rem;
}

.digital__img {
  display: flex;
  margin-left: 9.88rem;
}

.digital__img-one {
  // max-width: 32.5rem;
  margin-right: 1.25rem;
}

.digital__img-one:last-child {
  margin-right: 0;
}

.digital__text-first {
  color: $container-color;
  font-family: 'Raleway';
  font-size: 14.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.15;
  transform: rotate(-90deg);
  position: absolute;
  top: 13rem;
  right: 0;
  margin: 0;
  // left: 60%;
}

.digital__text-second {
  color: $container-color;
  font-family: 'Raleway';
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  top: 31rem;
  right: 9rem;
  margin: 0;
  // left: 78%;
}
