<section class="container">
  <div>
    <img src="/src/images/home/girl_2.png" alt="girl" height="1000px" />
    <p>digital</p>
    <p>digital</p>
  </div>
  <div>
    <img class="polygon" src="../images/home/polygon.png" />
    <h3>what we do</h3>
    <h1>We Develop Digital Products</h1>
    <p>
      We appreciate every client and ready to help with all the issues that they
      have. Let’s figure out what we can do.
    </p>
  </div>
  <div>
    <ul>
      <li>
        <img src="/src/images/home/1.png" alt="%" height="123px" />
        <h4>Branding</h4>
        <p>This is a repetition in plastic forms, lines and colors of</p>
      </li>
      <li>
        <img src="/src/images/home/2.png" alt="%" height="123px" />
        <h4>Strategy</h4>
        <p>This is a repetition in plastic forms, lines and colors of</p>
      </li>
      <li>
        <img src="/src/images/home/3.png" alt="%" height="123px" />
        <h4>eCommerce</h4>
        <p>This is a repetition in plastic forms, lines and colors of</p>
      </li>
      <li>
        <img src="/src/images/home/4.png" alt="%" height="123px" />
      </li>
    </ul>
  </div>
</section>
