<footer class="footer container">
  <nav class="footer__nav">
    <!-- <a class="footer-logo" href="../pages/home.html">
        <img src="" width="" height="" alt="logo" />
      </a> -->
    <ul class="footer__list">
      <li class="footer__item">Home</li>
      <li class="footer__item">About us</li>
      <li class="footer__item">Services</li>
      <li class="footer__item">Portfolio</li>
      <li class="footer__item">Blog</li>
      <li class="footer__item">Contact Us</li>
    </ul>
  </nav>
  <ul>
    <li>
      <a href="#">Fb</a>
      <a href="#">Tw</a>
      <a href="#">In</a>
      <p>© All rights reserved. Digens 2020</p>
    </li>
    <li>
      <h3>Address:</h3>
      <p>27 Division St, New York, NY 10002, USA</p>
    </li>
    <li>
      <h3>Hit Us Up:</h3>
      <p>+1 344 789 07 68 info@sitename.com</p>
    </li>
    <li>
      <h3>Useful Links</h3>
      <p>Help and Support Careers</p>
    </li>
  </ul>
</footer>
