<header class="header container">
<div class="header__container">
  <!-- <div class="menu-container">
    <div class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__item-link" href="./about_us.html">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__item-link" href="./services.html">Services</a>
        </li>
        <li class="menu__item">
          <a class="menu__item-link" href="./service_detail.html"
            >Service detail</a
          >
        </li>
        <li class="menu__item">
          <a class="menu__item-link" href="./contact_us.html">Contact us</a>
        </li>
      </ul>
      <button class="close-button">×</button>
    </div>
    <button class="toggle-menu">
      <img class="button" src="../images/popup/burger_menu.png" alt="menu" />
    </button>
  </div> -->

  <div class="header__logo">
    <a href="./home.html">
      <img
        src="../images/logo/logo_header.png"
        alt="logo"
        height="35px"
        ;
      />
    </a>
  </div>
  <div class="header__contact">
    <svg
      class="header__contact-logo"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="25"
      viewBox="0 0 24 25"
      fill="none"
    >
      <g opacity="0.5">
        <path
          d="M17 2.5H7C5.89543 2.5 5 3.39543 5 4.5V20.5C5 21.6046 5.89543 22.5 7 22.5H17C18.1046 22.5 19 21.6046 19 20.5V4.5C19 3.39543 18.1046 2.5 17 2.5Z"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 18.5H12.01"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
    </svg>
    <a class="header__contact-phone" href="tel:+15471258965"
      >+1 547 125 89 65</a
    >
    <button class="header__button">Get a quote</button>
  </div>
</div>
</header>
<script src="../js/menu.js"></script>

