<div class="sidebar">
  <div class="popup" id="menuPopup">☰</div>
  <ul class="menu" id="menu">
    <li><a href="./about_us.html">About us</a></li>
    <li><a href="./services.html">Services</a></li>
    <li><a href="./service_detail.html">Service detail</a></li>
    <li><a href="">Portfolio</a></li>
    <li><a href="">Portfolio detail</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Blog with sidebar</a></li>
    <li><a href="">Post</a></li>
    <li><a href="">Post with sidebar</a></li>
    <li><a href="./contact_us.html">Contact us</a></li>
    <li><a href="">404</a></li>
  </ul>
  <ul>
    <li><a href="https://www.facebook.com/">Fb</a></li>
    <li><a href="https://twitter.com/">Tw</a></li>
    <li><a href="https://www.linkedin.com/feed/">In</a></li>
  </ul>
</div>
