<section class="sidebar">
  <ul class="sidebar__social-list">
    <li class="sidebar__social-item">
      <a class="sidebar__social-link" href="https://www.facebook.com/">Fb</a>
    </li>
    <p class="sidebar__vertical-line"></p>
    <li class="sidebar__social-item">
      <a class="sidebar__social-link" href="https://twitter.com/">Tw</a>
    </li>
    <p class="sidebar__vertical-line"></p>
    <li class="sidebar__social-item">
      <a class="sidebar__social-link" href="https://www.linkedin.com/feed/"
        >In</a
      >
    </li>
  </ul>
</section>
