<section class="sidebar">
  <div class="popup">☰</div>
  <ul class="sidebar__list">
    <li class="sidebar__item"><a href="./about_us.html" class="sidebar__link">About us</a></li>
    <li class="sidebar__item"><a href="./services.html" class="sidebar__link">Services</a></li>
    <li class="sidebar__item"><a href="./service_detail.html" class="sidebar__link">Service detail</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">Portfolio</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">Portfolio detail</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">Blog</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">Blog with sidebar</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">Post</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">Post with sidebar</a></li>
    <li class="sidebar__item"><a href="./contact_us.html" class="sidebar__link">Contact us</a></li>
    <li class="sidebar__item"><a href="" class="sidebar__link">404</a></li>
  </ul>
  <ul>
    <li class="sidebar__item"><a href="https://www.facebook.com/" class="sidebar__link">Fb</a></li>
    <p class="sidebar__vertical-line"></p>
    <li class="sidebar__item"><a href="https://twitter.com/" class="sidebar__link">Tw</a></li>
    <p  class="sidebar__vertical-line"></p>
    <li class="sidebar__item"><a href="https://www.linkedin.com/feed/" class="sidebar__link">In</a></li>
  </ul>
</section>
