  <div class="footer-container">
    <nav class="footer-nav">
      footer
      <!-- <a class="footer-logo" href="index.html">
        <img src="" width="" height="" alt="logo" />
      </a> -->
      <ul class="footer-list">
        <li class="footer-item">Home</li>
        <li class="footer-item">About us</li>
        <li class="footer-item">Services</li>
        <li class="footer-item">Portfolio</li>
        <li class="footer-item">Blog</li>
        <li class="footer-item">Contact Us</li>
      </ul>
    </nav>
  </div>
