.header__container {
  display: flex;
  height: 6.62rem;
  background: $container-color;
  margin-left: 0;
}

.menu-container {
  position: relative;
  z-index: 20;
}

.menu {
  position: absolute;
  // top: 6rem;
  left: 0rem;
  width: 25rem;
  height: 100vh;
  background-color: $black-color;
  transition: left 0.3s ease-in-out;
  display: none;
}

.menu__list {
  list-style-type: none;
  padding: 6.88rem;
}

.menu__item {
  padding: 1.5rem;
}

.menu__item-link {
  text-decoration: none;
  color: $primary-text-color;
  text-align: center;
  font-family: 'Mulish';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.toggle-menu {
  position: fixed;
  top: 3.94rem;
  left: 2rem;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 1.42rem;
  right: 1.28rem;
  color: $white-color;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.close-button:hover {
  color: $main-color;
}

.header__logo {
  height: 2.1875rem;
  width: 7.5rem;
  margin-top: 3.31rem;
  margin-left: 11.25rem;
  z-index: 16;
}

.header__logo:hover {
  box-shadow: 3px 3px 5px 0px $main-color;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.88rem;
  margin-right: 5.56rem;
  margin-left: auto;
}

.header__contact-logo {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.5;
  margin-right: 0.94rem;
}

.header__contact-phone {
  text-decoration: none;
  color: $white-color;
  text-align: right;
  font-family: 'Mulish';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  margin-right: 3.13rem;
}

.header__contact-phone:hover {
  box-shadow: 3px 3px 5px 0px $main-color;
}

.header__button {
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-flex;
  padding: 0.625rem 2.5rem;
  height: 3.125rem;
  align-items: center;
  color: $white-color;
  text-align: center;
  font-family: 'Mulish';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.7;
  text-transform: capitalize;
  background-color: inherit;
}

.header__button:hover {
  box-shadow: 3px 3px 5px 0px $main-color;
  cursor: pointer;
}
